@charset "utf-8";
/* CSS Document */

.header{}
.logo{width:170px;height:70px; background:url(../images/logo_ikdy.png) center center no-repeat;}
.btn-navbar{width:30px;height:30px;margin-top:20px;background: url(../../common/images/sidebar-toggler.jpg) no-repeat}

.navbar{margin-top:15px;}
.navbar ul li{color:#999;font-size:14px;}
.navbar ul li .text{margin:3px 0 0 0;}
.navbar ul li a:link,.navbar ul li a:visited,.navbar ul li a:hover{color:#fff;}
.navbar ul li em{color:#f00}
.navbar ul li .username{color:#999}
.navbar ul li i{width:24px;height:24px;background-position:-48px 0;}
