ozsofts-base/maven-base/.project
ozsofts-base/maven-base/.settings/org.eclipse.m2e.core.prefs
ozsofts-base/project-base/.project
ozsofts-base/project-base/.settings/org.eclipse.core.resources.prefs
ozsofts-base/project-base/.settings/org.eclipse.m2e.core.prefs
